.forget-password-card {
  width: 600px;
  height: 400px;
}

.forget-password-label {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 400;
  color: #333333;
}

.forget-password-input-label {
  font-size: 13px;
  font-weight: bold;
  padding-left: 80px;
}

.forget-password-input {
  width: 70%;
  align-self: center;
}

.forget-password-input {
  font-size: 16px;
  line-height: 30px;
  color: #333333;
  border: 1px solid #E3E3E3;
  font-weight: 400;
  box-shadow: none;
  margin-bottom: 20px;
}

.forget-password-input:hover {
  box-shadow: none;
  border: 1px solid #E3E3E3 !important;
}

.forget-password-input:focus {
  box-shadow: none;
  border: 1px solid #E3E3E3 !important;
}

.forget-password-input:active {
  box-shadow: none;
  border: 1px solid #E3E3E3 !important;
}

.btn-general {
  padding-left: 50px;
  padding-right: 50px;
  border-color: #04B5FA !important;
  height: 48px;
  background-color: #04B5FA !important;
  font-weight: bold;
  font-size: 15px !important;
  border-radius: 7px !important;
}

.btn-send-email {
  margin-bottom: 20px;
}

.reset-password-card {
  width: 600px;
  height: 500px;
}

.validation-err {
  padding-left: 10px;
  color: #d50000 !important;
}

.forgot-class {
  color: #04B5FA;
}

.forgot-class:hover {
  color: #04B5FA;
}

.email-sent-label {
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.modal-video-call {
  align-items: center;
  justify-content: center;
  display: block;
  padding: 0px !important;
  width: 90%;
}

.modal-content-class {
  align-items: center;
  justify-content: center;
  display: block;
  padding: 0px !important;
  width: 65%;
}

.modal-class {
  height: 100%;
  margin: auto !important;
  display: flex;
}

.modal-video-call-container .modal-content {
  min-height: 800px;
  min-width: 1200px;
  margin: auto;
  align-items: center;
  box-shadow: none !important;
}

.video-call-element {
  padding: 40px 20px;
  width: 100%;
}

.video-tags {
  margin: 20px;
}

.btn-video-call-mic-camera {
  border-color: white !important;
  width: 80px;
  height: 80px;
  background-color: white !important;
  font-size: 15px !important;
  border-radius: 7px !important;
}

.btn-video-call-end {
  margin-right: 30px;
  margin-left: 30px;
  border-color: #F9364D !important;
  width: 150px;
  height: 80px;
  background-color: #F9364D !important;
  font-size: 15px !important;
  border-radius: 7px !important;
}

.video-call-mentor {
  position: absolute;
  right: 150px;
  top: 80px;
  border-radius: 4px;
}

.video-call-student {

}

.modal-incoming-call .modal-content {
  min-height: 500px;
  min-width: 500px;
  margin: auto;
  align-items: center;
  box-shadow: none !important;
}

.btn-video-call-accept {
  margin: 5px 20px;
  width: 146px;
  height: 50px;
  background-color: #43D3A6 !important;
  border-color: #43D3A6 !important;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.btn-video-call-decline {
  margin: 5px 20px;
  width: 146px;
  height: 50px;
  background-color: #F9364D !important;
  border-color: #F9364D !important;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.video-call-modal-disable {
  /* visibility: hidden; */
  position: relative;
  z-index: -1;
}

.video-call-modal-enable {
  /* visibility: visible; */
  position: relative;
  z-index: auto;
}

.room-video-chat {
  width: 80%;
}

.room-member {
  padding: 10px;
  background-color: white;
}

.room-chat-area {
  /* height: 30px; */
  /* background-color: pink; */
}

.room-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.room-video-container {
  padding: 10px;
}

.chat-history {
  height: 200px !important;
}