body {
    background-color: white !important;
}

.landingpage-header {
    margin-left: 0px !important;
    max-width: 100% !important;
    flex: 0 0 100% !important;
    background-color: white;
}

.fix-position {
    max-width: none !important;
}

.logo-image {
    margin-right: 60px;
    margin-left: 30px;
}

.navbar-search {
    border: solid #E3E3E3 !important;
    border-radius: 5px !important;
    border-width: 1px !important;
    
    margin-top: 5px;
    height: 48px !important;
    font-size: 18px !important;
}

.search-bar {
    width: 85% !important;
    min-width: 300px !important;
    max-width: 500px;
}

.input-group-text {
    padding: 0px 0px 0px 5px !important;
    color: white !important;
}

.btn-search {
    background-color: #04B5FA !important;
    border-color: #04B5FA !important;
    width: 78px !important;
}

.btn-search span {
    justify-content: center;
    padding: 0px !important;
}

.btn-landingpage {
    border-color: #04B5FA !important;
    height: 48px;
    margin-top: 5px;
    margin-left: 21.5px;
    margin-right: 21.5px;
    padding: 13px 0px !important;
    font-size: 15px !important;
    border-radius: 0px !important;
}

.btn-landingpage:hover {
    box-shadow: none !important;
    border-bottom-width: 2px !important;
    border-bottom-color: #04B5FA !important;
}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle .btn-landingpage:active{
    box-shadow: none !important;
}

.btn-landingpage:focus {
    box-shadow: none !important;
}

.btn-custom {
    color: #04B5FA !important;
    padding-left: 21.5px !important;
    padding-right: 21.5px !important;
    border-radius: 0.25rem !important;
}

.btn-custom:hover {
    background-color: #04B5FA !important;
    color: white !important;
}

.white-background {
    background-color: white !important;
    border-color: white !important;
}

.main-navbar {
    height: 94px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: none !important;
}

.share-knowledge {
    /* height: 600px; */
    width: 100%;
    background-color: #F1F8FE;
    padding: 0px 20px 0px 20px;
}

.discover {
    /* height: 910px; */
    /* padding-left: 40px; */
    /* padding-right: 40px; */
    padding-top: 60px;
    width: 100%;
    background-color: #F1F8FE;
}

.brains-share {
    height: 500px;
    width: 100%;
    background-color: white;
    align-items: center;
}

.featured-mentors {
    height: 489px;
    width: 100%;
    background-color: white;
    padding: 74px 74px;
    display: block;
    justify-content: center;
}

.featured-mentors h1{
    color: #333333;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.featured-mentors .awssld {
    height: 270px;
}

.carousel-component {
    background-color: white;
    box-shadow: 0 0.15rem 0.3rem #E5E5E5;
    width: 900px;
    height: 250px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 22px;
}

.carousel-component-img-class {
    width: 206px;
    height: 206px;
    border-radius: 10px;
}

.carousel-component-online-class {
    position: absolute;
    left: -5px;
    top: -5px;
    background-color: #43D3A6;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}

.carousel-component-online-class::before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 13px;
    height: 13px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 3px 3px #43D3A6;
    --webkit-animation: '_2xVphYaP' 1s linear infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: '_2xVphYaP';
    content: "";
}

@keyframes _2xVphYaP {
    from {transform:scale(1, 1);}
    to {transform:scale(2, 2);}
}

.carousel-component-body-class {
    width: 464px;
    padding: 0px 22px;
}

.carousel-component-footer-class {
    width: 146px;
    color: #333333;
    font-size: 20px;
    font-weight: 600;
    width: 146px;
    height: 100%;
}

.carousel-component-body-header-class {
    font-size: 20px;
    font-weight: 600;
    padding: 8px 0px;
    padding-top: 0px;
    color: #333333;
}

.carousel-component-body-header-class img {
    padding-bottom: 3px;
    padding-right: 5px;
}

.carousel-component-body-header-class-name {
    padding-right: 20px;
    padding-left: 10px;
}

.carousel-component-body-teach-class {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    height: 30px;
}

.carousel-component-body-teach-list-class {
    background-color: #04B5FA19;
    color: #04B5FA;
    border-radius: 20px;
    padding: 0px 8px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.carousel-component-body-desc-class {
    font-size: 16px;
    color: #333333;
    padding-bottom: 10px;
    line-height: 18px;
}

.carousel-component-body-desc-class p {
    margin-bottom: 10px;
    font-weight: 400;
    word-break: break-word;
}

.carousel-component-body-desc-class a {
    font-weight: 600;
}

.carousel-component-body-play-class {
    color: #04B5FA;
    font-size: 16px;
    font-weight: 600;
    padding-top: 5px;
}

.carousel-component-body-play-class img {
    padding-bottom: 3px;
    padding-right: 10px;
}

.carousel-component-footer-instant-class {
    color: #FFFFFF !important;
    background-color: #04B5FA !important;
    font-size: 16px !important;
    font-weight: normal !important;
    border-color: #04B5FA !important;
    border-width: 2.5px !important;
    border-radius: 6px !important;
    margin-bottom: 10px;
    width: 146px;
}

.carousel-component-footer-instant-class img {
    padding-bottom: 3px;
    padding-right: 10px;
}

.carousel-component-footer-book-class img {
    padding-bottom: 3px;
    padding-right: 10px;
}

.read-more {
    margin-top: 25px !important;
    text-decoration: underline !important;
}

.carousel-component-footer-book-class {
    color: #04B5FA !important;
    background-color: #FFFFFF !important;
    font-size: 16px !important;
    font-weight: normal !important;
    border-color: #04B5FA !important;
    border-width: 2px !important;
    border-radius: 6px !important;
    width: 146px;
}

.img-share-knowledge {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
    opacity: 0;
}

.img-mentor-active {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 60%;
    /* height: 100%; */
}

.share-knowledge-desc {
    padding-top: 10%;
    padding-left: 20%;
    align-items: center;
    opacity: 0;
}

.awssld__content {
    background-color: white !important;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.awssld__next {
    outline: none !important;
}

.awssld__next:hover {
    color: #04B5FA;
    stroke: #04B5FA;
}

.awssld__prev {
    outline: none !important;
}

.share-knowledge-desc h5{
    /* font-family: "Nunito Sans"; */
    line-height: 30px;
    color: #333333;
}

.btn-find-mentor {
    width: 146px;
    height: 50px;
    font-size: 16px !important;
    font-weight: bold;
    background-color: #04B5FA !important;
    border: #04B5FA !important;
}

.desc-title {
    padding-top: 5%;
    font-weight: bold;
    font-size: 60px;
    /* font-family: "Nunito Sans"; */
    line-height: 65px;
    color: #333333;
}

.desc-title-works {
    padding-top: 50px;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 30px;
    /* font-family: "Nunito Sans"; */
    line-height: 65px;
    color: #333333;
}

.center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn-dropdown-header {
    display: none !important;
}

.btn-brains-share-general1 {
    height: 50px;
    width: fit-content;
    color: #04B5FA;
    background-color: white;
    border-color: #04B5FA;
    border-radius: 5px;
    box-shadow: none;
}

.btn-brains-share-general2 {
    height: 50px;
    width: fit-content;
    color: white;
    background-color: #04B5FA;
    border-color: #04B5FA;
    border-radius: 5px;
    outline-color: #04B5FA;
    box-shadow: none;
}

.btn-brains-share-general2:focus {
    border-color: #04B5FA;
    outline-color: #04B5FA;
}

.btn-dropdown-toogle {
    height: 48px;
    font-size: 16px !important;
    padding: 13px 21.5px !important;
    background-color: #04B5FA !important;
    border-color: #04B5FA !important;
    margin-top: 5px;
}

.btn-dropdown-item {
    font-size: 16px !important;
}

.btn-dropdown-item:active {
    border: none !important;
    outline: none !important;
}

/* .dropdown-item:hover {
    border: none !important;
    outline: none !important;
    color: red;
} */

.get-fast-results {
    padding-left: 8%;
    padding-right: 8%;
    height: 380px;
    width: 100%;
    background-color: white;
    position: relative;
    
    /* border: 2px black !important; */
}

.desc-title-fast-results {
    padding-top: 5%;
    padding-right: 10%;
    font-weight: bold;
    font-size: 40px;
    width: 50%;
    /* font-family: "Nunito Sans"; */
    line-height: 45px;
    color: #333333;
}

.get-fast-results-desc {
    padding-left: 5%;
    width: 100%;
    height: 90%;
    align-items: center;
    background-color: #F1F8FE;
}

.img-get-fast-results-wrap {
    width: 40%;
    height: 90%;
    padding-right: 20px;
    position: absolute;
    bottom: 10px;
    right: 40px;
}

.img-get-fast-results {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-fast-results{
    width: 146px;
    height: 50px;
    font-size: 16px !important;
    margin-top: 60px;
    font-weight: bold;
    background-color: #04B5FA !important;
    border: #04B5FA !important;
}

.brains-works-title {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
}

.brains-works-content {
    font-size: 16px;
    color: #333333;
    width: 200px;
    text-align: center;
}

.brains-works-part {
    width: 500px;
}

.desc-title-discover {
    padding-top: 10px;
    /* padding-bottom: 10px; */
    font-weight: bold;
    font-size: 30px;
    /* font-family: "Nunito Sans"; */
    line-height: 40px;
    color: #333333;
}

.brainsshare-tag 
{
    height: 25px;
    font-size: 14px;
    font-weight: 400;
    color: #04B5FA;
    background-color: #D9F2FE;
    border-radius: 100px;
    padding: 0px 10px;
    padding-top: 2px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.tag-title {
    /* width: 100%; */
    padding: 0px 10px;
    margin-right: 10px;
}

.discover-detail-content {
    font-size: 16px;
    color: #333333;
    max-width: 300px;
}

.img-discover-detail-content {
    width: 80%;
    padding-bottom: 20px;
}

.img-discover-detail-content-avatar {
    width: 36px;
    height: 36px;
    margin-right: 20px;
    /* border-radius: 10px; */
}

.btn-learn-more {
    width: 146px;
    height: 50px;
    font-size: 16px !important;
    font-weight: bold;
    background-color: #04B5FA !important;
    border: #04B5FA !important;
    margin-top: 50px;
}

.discover-part { 
    width: 33%;
    margin: 0px 0px !important;
    padding-bottom: 70px;
    padding-top: 70px;
    padding-left: 6%;
    min-width: 300px;
}

.border-top-bottom {
    border-bottom: 1px solid #CDD3D8;
    border-top: 1px solid #CDD3D8;
}

.border-left-right {
    border-right: 1px solid #CDD3D8;
    border-left: 1px solid #CDD3D8;
}

.external-site-icon {
    display: flex;
    justify-content: flex-end;
}

.footer-icon {
    padding: 0px 10px;
}

.main-footer {
    height: 146px !important;
    margin-top: 50px;
}

.footer-link {
    font-size: 15px;
    color: #333333;
}

.footer-logo {
    padding-left: 20px;
    padding-right: 70px;
}

.footer-main-part {
    width: 100%;
    padding-bottom: 20px;
}

.desc-content-discover {
    padding-bottom: 30px;
    font-size: 20px;
    /* font-family: "Nunito Sans"; */
    line-height: 25px;
    color: #333333;
}

.desc-title-discover {
    padding-top: 10px;
    /* padding-bottom: 10px; */
    font-weight: bold;
    font-size: 30px;
    /* font-family: "Nunito Sans"; */
    line-height: 40px;
    color: #333333;
}

.copy-right-txt {
    width: 100%;
    font-size: 14px;
    color: #333333;
    text-align: center;
    padding-bottom: 20px;
}

@media (max-width: 1250px) {
    .btn-group-header { display: none !important; }
    .btn-dropdown-header { display: inline-block !important; }
}

.blue-background-one-class {
    background-color: white;
    width: 127px;
    height: 108px;
    padding: 3px;
    margin: auto;
    border-radius: 15px;
    border: dotted;
    border-width: 3px;
    border-color: #04B5FA;
    position: relative;
    z-index: 100;
}

.blue-background-two-class {
    width: 100%;
    height: 100%;
    background-color: #04B5FA;
    border-radius: 10px;
}

.blue-dotline-class {
    width: 81%;
    height: 1px;
    border-color: #04B5FA;
    border-width: 3px 0px 0px 0px;
    border-style: dotted;
    position: absolute;
    top: 54px;
    left: 50%;
}

.dis-none {
    opacity: 0;
}

.animation-class .animation-one-class {
    animation-name: 'anialpha';
    animation-duration: 1000ms;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.animation-class .animation-two-class {
    animation-name: 'anialpha';
    animation-duration: 500ms;
    animation-delay: 1000ms;
    animation-fill-mode: forwards;
}

.animation-class .animation-three-class {
    animation-name: 'anialpha';
    animation-duration: 1000ms;
    animation-delay: 1500ms;
    animation-fill-mode: forwards;
}

.animation-class .animation-four-class {
    animation-name: 'anialpha';
    animation-duration: 500ms;
    animation-delay: 2500ms;
    animation-fill-mode: forwards;
}

.animation-class .animation-five-class {
    animation-name: 'anialpha';
    animation-duration: 1000ms;
    animation-delay: 3000ms;
    animation-fill-mode: forwards;
}

.animation-class .share-animation-ltor {
    animation-name: 'ltor';
    animation-delay: 1000ms;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
}

.animation-class .share-animation-rtol {
    animation-name: 'rtol';
    animation-delay: 0ms;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
}

.ltor {
    animation-name: 'ltor';
}

.rtol {
    animation-name: 'rtol';
}

.bigger {
    animation-name: 'bigger';
}

@keyframes anialpha {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes ltor {
    from {transform:translateX(-500px);opacity: 1;}
    to {transform:translateX(0px);opacity: 1;}
}

@keyframes rtol {
    from {transform:translateX(1500px);opacity: 1;}
    to {transform:translateX(0px);opacity: 1;}
}

@keyframes bigger {
    from {transform:scale(0, 0);}
    to {transform:scale(1, 1);}
}

.awssld__timer {
    opacity: 0;
    pointer-events: none; /* prevent events (mouse clicking etc.) */
}

.modal-content-class {
    align-items: center;
    justify-content: center;
    display: block;
    padding: 0px !important;
    width: 65%;
}

.modal-class {
    height: 100%;
    margin: auto !important;
    display: flex;
}

.modal-class .modal-content {
    min-height: 50%;
    margin: auto;
    align-items: center;
    box-shadow: none !important;
}

.content-center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.full-width-class {
    width: 100%;
}

.middle-width-class {
    width: 50%;
}

.block-content-class {
    display: block;
}

.modal-header-class {
    margin: 40px 0px;
    font-size: 25px !important;
    line-height: 25px;
    font-weight: 700;
    color: #333333;
}

.modal-input-group-class label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
}

.modal-input-group-class input {
    font-size: 16px;
    line-height: 30px;
    color: #999999;
    border: 1px solid #E3E3E3;
    font-weight: 400;
    box-shadow: none;
    margin-bottom: 20px;
}

.modal-input-group-class input:hover {
    box-shadow: none;
    border: 1px solid #E3E3E3 !important;
}

.modal-input-group-class input:focus {
    box-shadow: none;
    border: 1px solid #E3E3E3 !important;
}

.modal-input-group-class input:active {
    box-shadow: none;
    border: 1px solid #E3E3E3 !important;
}

.forgot-class {
    float: right;
}

.button-text-group-class {
    align-items: center;
    justify-content: center;
}

.hidden-underline {
    text-decoration: none;
}

.hidden-underline:hover {
    text-decoration: none;
}

.button-text-group-class button {
    margin: 10px;
    display: flex;
    margin: auto;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    background-color: #04B5FA;
    border-color: #04B5FA;
    padding: 15px 50px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-text-group-class button:hover {
    margin: 10px;
    display: flex;
    margin: auto;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    background-color: #04B5FA;
    border-color: #04B5FA;
    box-shadow: none;
    padding: 15px 50px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-text-group-class button:active {
    margin: 10px;
    display: flex;
    margin: auto;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    background-color: #04B5FA !important;
    border-color: #04B5FA !important;
    box-shadow: none;
    padding: 15px 50px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button-text-group-class p {
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin: auto;
    font-weight: 400;
}

.button-text-group-class a {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
}

.button-text-group-class a:hover {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
}

.seperation-line-class {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    justify-content: space-between;
}

.seperation-line-class hr {
    width: 40%;
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
    border-top: 1px solid #969696;
    /* margin-top: 0px; */
    /* margin-bottom: 0px; */
}

.sign-with-facebook {
    width: 100%;
    background-color: #1976F2 !important;
    border-color: #1976F2 !important;
    margin-bottom: 15px;
    border-radius: 5px !important;
    font-size: 16px !important;
    padding: 15px !important;
    position: relative;
}

.sign-with-facebook img {
    position: absolute;
    left: 10px;
    top: 10px;
}

.sign-with-google {
    width: 100%;
    background-color: #4285F4 !important;
    border-color: #4285F4 !important;
    margin-bottom: 40px;
    border-radius: 5px !important;
    font-size: 16px !important;
    padding: 15px !important;
    position: relative;
}

.sign-with-google img {
    position: absolute;
    left: 10px;
    top: 10px;
}

.close-button-class {
    background: transparent !important;
    position: absolute;
    border: none !important;
    right: 10px;
    top: 10px
}

.close-button-class:hover {
    box-shadow: none !important;
}

.backdrop-class.show {
    background-color: #000000 !important;
    opacity: 0.3 !important;
    z-index: 8000;
}

.toggle-button-class {
    text-transform: capitalize !important;
    color: #ACACAC !important;
    border-color: #ACACAC !important;
    outline: none !important;
    z-index: 1 !important;
    height: 48px !important;
    margin-top: 5px !important;
    margin-right: auto !important;
}

.toggle-button-class.Mui-selected {
    background-color: #04B5FA !important;
    pointer-events: none !important; 
    border-color: #04B5FA !important;
    border-radius: 5px !important;
    color: #FFFFFF !important;
    text-transform: capitalize !important;
    outline: none !important;
    z-index: 2 !important;
}

.toggle-button-class:hover {
    text-transform: capitalize !important;
    color: #ACACAC !important;
    background-color: #FFFFFF !important;
    border-color: #ACACAC !important;
    outline: none !important;
    z-index: 1 !important;
    margin-right: auto !important;
}

.mentor-toggle-class {
    border-right: none !important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 0px !important;
}

.student-toggle-class {
    border-left: none !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 0px !important;
}

.mentor-toggle-class.Mui-selected {
    margin-right: -3px !important;
}

.student-toggle-class.Mui-selected {
    margin-left: -3px !important;
}

input.sign-has-err {
    border-color: #d50000 !important;
}

input.sign-has-err:active {
    border-color: #d50000 !important;
}

input.sign-has-err:hover {
    border-color: #d50000 !important;
}

input.sign-has-err:focus {
    border-color: #d50000 !important;
}

.password-validation-err {
    padding-left: 10px;
    color: #d50000 !important;
}

.email-validation-err {
    padding-left: 10px;
    color: #d50000 !important;
}

.email-input {
    margin-bottom: 10px !important;
}

.password-input {
    margin-bottom: 10px !important;
}

.sign-in-err {
    padding-left: 10px;
    color: #d50000 !important;
}